/*
 * Basic Styles
 */

body {
  background-color: #dddddd;
  color: #222222;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

.wrap {
  background-color: #222222;
  color: #dddddd;
  padding-top: 16px;
}

header {
  width: 960px;
  margin: 0 auto;
}

header h1 {
  margin-top: 0;
}

.content {
  width: 960px;
  margin: 0 auto;
}

.examples {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2em;
}

.examples li {
  padding: 1px;
  margin: 0 0 2em 0;
}

/*
 * Link Styles
 */

a {
  color: #1111EE;
  text-decoration: none;
}

a:hover {
  color: #1FF1FF;
}

.link-with-shadow {
  transition: all 0.3s;
}

.link-with-shadow:hover {
  color: #EEEEFF;
  text-shadow: rgba(50, 50, 50, 0.8) 1px 2px 12px;
  transition: all 0.3s;
}

.link-with-box {
  background-color: #6666FF;
  color: #eeeeee;
  padding: 4px 6px;
}

.link-with-box:hover {
  color: #eeeeee;
}

.basic-button {
  background-color: #4444EE;
  color: #eeeeee;
  padding: 5px 7px;
  border: 1px solid #2222DD;
  text-transform: uppercase;
}

.basic-button:hover {
  background-color: #4444FF;
  color: #ffffff;
}

.cancel-button {
  background-color: #CC3333;
  color: #eeeeee;
  padding: 5px 7px;
  border: 1px solid #AA1111;
  text-transform: uppercase;
}

.cancel-button:hover {
  background-color: #DD3434;
  color: #fefefe;
  padding: 5px 7px;
  border: 1px solid #AA1111;
  text-transform: uppercase;
}

.rounded-button {
  background-color: #44AA44;
  color: #DDDDFF;
  padding: 6px 8px;
  border: 1px solid #118811;
  border-radius: 6px;
}

.rounded-button:hover{
  color: #FEFEFF;
  background-color: #55DD55;
}

.gradient-button {
  background: linear-gradient(to bottom, #F8F8F8 0px, #D4D4D4 100%);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #333333;
  padding: 7px 12px;
}

.gradient-button:hover {
  background: linear-gradient(to bottom, #FEFEFE 0px, #DFDFDF 100%);
  color: #111111;
}

.fancy-button {
  background: linear-gradient(to bottom, #1EAFE7 0px, #1A97C8 100%);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  color: #eeeeee;
  padding: 7px 12px;
}

.fancy-button:hover {
  background: linear-gradient(to bottom, #3fCFFA 0px, #1A97C8 100%);
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  color: #fefefe;
}

.fancy-button:active {
  background: linear-gradient(to bottom, #1A97C8 0px, #3fCFFA 100%);
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: none;
  color: #505050;
}

.round {
  border-radius: 100%;
}


@media (max-width: 480px) {
  .content, header {
    width: 90%;
    padding: 10px;
  }
}

@media (min-width: 481px) and (max-width: 960px) {
  .content, header {
    width: 480px;
    padding: 10px;
  }
}
